.mfl-creator-section{
    .mfl-creator-row{
        @include align-items-center;
        margin-top: 50px;
        margin-bottom: 50px;
        .mfl-creator-cols{
            &:first-child{
                width: 415px;
            }
            &:last-child{
                flex: 1;
                padding-left: 16.75%;
            }
            .mfl-creator-content{
                .mfl-creator-item{
                    @include font-size(16);
                    margin-bottom: 25px;
                }
            }
        }
    }
    .mfl-profile-wrapper{
        width: 414px;
        height: 414px;
        position: relative;
        .mfl-profile-ring{
            width: inherit;
            height: inherit;
            border-radius: 50%;
            position: absolute;
            top: -100%;
            bottom: -100%;
            left: -100%;
            right: -100%;
            margin: auto;
            @include animation(rotating 50s linear infinite);
            .circle-blue{
                bottom: 10px;
                right: 0px;
                position: absolute;
            }
            .circle-green{
                top: 20px;
                left: 20px;
                position: absolute;
            }
        }
        .mfl-profile-back{
            width: calc(100% + 236px);
            height: calc(100% + 136px);
            position: absolute;
            top: -100%;
            bottom: -100%;
            left: -100%;
            right: -100%;
            margin: auto;
            z-index: -1;
            
            .mfl-pfback-img{
                width: 100%;
            }
        }
        .mfl-profile-image{
            width: inherit;
            height: inherit;
            border-radius: 50%;
            overflow: hidden;
            .mfl-profile-img{
                width: inherit;
                height: inherit;
            }
        }
    }
}


@include media-breakpoint-down(1600p) {
    .mfl-creator-section .mfl-profile-wrapper{
        width: 380px;
        height: 380px;
    }
    .mfl-creator-section .mfl-creator-row .mfl-creator-cols:last-child{
        padding-left: 14.75%;
    }
}
@include media-breakpoint-down(xll) {
    .mfl-creator-section .mfl-profile-wrapper{
        width: 320px;
        height: 320px;
    }
    .mfl-creator-section .mfl-creator-row .mfl-creator-cols:last-child{
        padding-left: 10%;
    }
}

@include media-breakpoint-down(lg) {
    .mfl-creator-section .mfl-creator-row .mfl-creator-cols{
        width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .mfl-creator-section .mfl-creator-row .mfl-creator-cols:last-child {
        padding-left: 0;
        order: -1;
    }
    .mfl-creator-section .mfl-creator-row{
        margin-top: 0;
    }
    .mfl-creator-section .mfl-profile-wrapper{
        margin: 70px auto 0;
    }
    .mfl-creator-section .mfl-profile-wrapper .mfl-profile-back{
        width: calc(100% + 179px);
        height: calc(100% + 76px);
    }
    .mfl-creator-section{
        overflow: hidden;
    } 
}

