.mfl-Features-section {
  background-image: url("../../images/why-bg.png");
  background-position: center center;
  background-size: 100% 1340px;
  @include inline-flex();
  height: 1340px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  .circle-blue {
    position: absolute;
    left: 34%;
    bottom: 7%;
  }
  .circle-green {
    position: absolute;
    right: 17%;
    top: 16%;
  }

  .mfl-Features-row {
    @include align-items-center();
    padding-top: 10%;
    &.mobile-wrapper {
      display: none;
    }

    .mfl-Features-cols {
      &:first-child {
        width: 45%;
        padding-right: 50px;
      }
      &:last-child {
        width: 55%;
      }
      .feature-slider {
        .mfl-Features-mainimage {
          border: 1px solid;
        }
        .slick-dots {
          bottom: -42px;
        }
      }
      .mfl-Features-wrap {
        margin-top: 20px;
        .mfl-Features-item {
          pointer-events: none;
          padding: 8px 30px 8px 10px;
          border-radius: 20px;
          margin-bottom: 5px;
          @include transition(0.5s ease);
          .mfl-Features-inner {
            @include inline-flex();
            color: var(--color-white);
            cursor: pointer;
            .mfl-Features-image {
              height: 120px;
              width: 120px;
              min-width: 120px;
              border-radius: 50%;
              border: 7.5px solid var(--color-feture-border);
              .mfl-Features-img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                @include inline-flex();
                @include justify-content-center();
                background-color: var(--color-feture-bg);
                border: 3px solid var(--color-white);
                @include transition(0.5s ease);
                .mask-Features {
                  width: 50%;
                  height: 50%;
                  background-color: var(--color-white);
                  @include transition(0.5s ease);
                }
              }
            }
            .mfl-Features-content {
              padding-left: 33px;
              @include font-size(20);
            }
          }
          &.selected {
            background-color: var(--color-primary-light) !important;
            .mfl-Features-inner {
              color: var(--color-secondary);
            }
            .mfl-Features-inner {
              .mfl-Features-image {
                .mfl-Features-img {
                  background-color: var(--color-white);
                  .mask-Features {
                    background-color: var(--color-circle-icon);
                  }
                }
              }
            }
          }
          &:hover {
            background-color: #94e5fc2b;
          }
        }
      }
      .mfl-wearediff-box-wrapper {
        margin-left: -15px;
        margin-right: -15px;
        @include flex();
        .mfl-wearediff-box-item {
          width: 50%;
          padding: 15px;
          .mfl-wearediff-box-inner {
            border-radius: 20px;
            border: 1px solid var(--color-border);
            padding: 30px 35px;
            position: relative;
            min-height: 338px;
            transition: 0.5s ease;
            background-color: white;
            overflow: hidden;
            &:hover {
              box-shadow: 7px 1px 27px 0px rgba(108, 108, 108, 0.2);
              @include transform(scale(1.05));
              .mfl-wearediff-icon-wrap {
                .mfl-wearediff-icon {
                  opacity: 0;
                  &.hover {
                    opacity: 1;
                  }
                }
              }
              .mfl-wearediff-box-lines {
                z-index: -1;
                .box-line {
                  opacity: 0;
                  &.hover {
                    position: absolute;
                    opacity: 1;
                  }
                }
              }
            }

            .mfl-wearediff-box-lines {
              position: absolute;
              top: 0;
              right: 0;
              width: 60%;
              .box-line {
                transition: 0.5s ease;
                opacity: 1;
                transform-origin: top right;
                &.hover {
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                }
              }
            }
          }
        }
        .mfl-wearediff-box-content {
          @include font-size(20);
          max-width: calc(100% - 35px);
          z-index: 1;
          position: relative;
        }
        .mfl-wearediff-box-image {
          margin-bottom: 20px;
          .mfl-wearediff-box-icon {
            width: 76px;
          }
        }

        .mfl-wearediff-icon-wrap {
          position: absolute;
          right: 0;
          bottom: 0;
          .mfl-wearediff-icon {
            width: 170px;
            transition: 0.5s ease;
            &.hover {
              transition: 0.5s ease;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(1920p) {
  .mfl-Features-section {
    background-size: auto 1340px;
  }
}

@include media-breakpoint-down(1600p) {
}
@include media-breakpoint-down(xll) {
  .mfl-Features-section .mfl-Features-row .mfl-Features-cols:first-child {
    padding-right: 20px;
  }
  .mfl-Features-section .mfl-Features-row .mfl-Features-cols .mfl-Features-wrap .mfl-Features-item .mfl-Features-inner {
    .mfl-Features-content {
      padding-left: 22px;
    }
    .mfl-Features-image {
      height: 90px;
      width: 90px;
      min-width: 90px;
      border: 6px solid var(--color-feture-border);
    }
  }
}
@include media-breakpoint-down(xl) {
  .mfl-Features-section .mfl-wearediff-box-wrapper .mfl-wearediff-box-item .mfl-wearediff-box-inner {
    padding: 20px 22px;
    min-height: 302px;
  }
  .mfl-Features-section .mfl-wearediff-box-image .mfl-wearediff-box-icon {
    width: 62px;
  }
  .mfl-Features-section .mfl-wearediff-icon-wrap .mfl-wearediff-icon {
    width: 150px;
  }
}
@include media-breakpoint-down(lg) {
  .mfl-Features-section {
    background-image: url("../../images/why-mobile-bg.png");
    background-position: center top;
    height: auto;
    background-size: cover;
    .circle-green {
      position: absolute;
      right: 8%;
      top: -40px;
    }
    .circle-blue {
      position: absolute;
      left: 3.5%;
      bottom: -20px;
    }
    .mfl-Features-row {
      padding: 5% 0;
    }
  }
  .mfl-Features-section .mfl-Features-row .mfl-Features-cols .mfl-Features-wrap .mfl-Features-item .mfl-Features-inner {
    .mfl-Features-content {
      padding-left: 15px;
    }
    .mfl-Features-image {
      height: 70px;
      width: 70px;
      min-width: 70px;
      border: 4px solid var(--color-feture-border);
    }
  }
  .mfl-Features-section .mfl-Features-row .mfl-Features-cols {
    width: 100% !important;
  }
  .mfl-Features-section .mfl-Features-row .mfl-Features-cols .mfl-Features-wrap .mfl-Features-item {
    padding: 8px 18px 8px 10px;
  }
  .mfl-Features-section .mfl-wearediff-box-content {
    max-width: calc(100% - 115px);
  }
}
@include media-breakpoint-down(850p) {
  .mfl-Features-section {
    background-size: cover;
    .size-108 {
      width: 65px;
      height: 65px;
    }
  }
  .mfl-Features-section .mfl-Features-row {
    padding: 0;
  }
  .mfl-Features-section .mfl-Features-row.desktop-wrapper {
    display: none;
  }
  .mfl-Features-section .mfl-Features-row .mfl-Features-cols .mfl-Features-wrap {
    margin-top: 0;
  }
  .mfl-Features-section .mfl-wearediff-box-content {
    max-width: calc(100% - 85px);
  }
  .mfl-Features-section .mfl-Features-row.mobile-wrapper {
    @include flex();
    // .mfl-Features-cols .mfl-Features-wrap {
    //   max-width: 300px;
    // }
    .mfl-Features-cols .mfl-Features-wrap .mfl-Features-item {
      padding: 8px 0;
      .mfl-Features-inner {
        margin-bottom: 10px;
      }
      &.selected,
      &:hover {
        background-color: transparent;
        .mfl-Features-inner {
          .mfl-Features-image .mfl-Features-img {
            background-color: var(--color-feture-bg);
            .mask-Features {
              background-color: var(--color-white);
            }
          }
          .mfl-Features-content {
            color: var(--color-white);
          }
        }
      }
    }
    .mfl-Features-cols {
      width: 100% !important;
      max-width: 600px;
      margin: 0 auto;
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
}
@include media-breakpoint-down(md) {
  .mfl-Features-section .mfl-wearediff-box-content {
    max-width: calc(100% - 35px);
    font-size: 1.8rem;
  }
  .mfl-Features-section .mfl-wearediff-box-wrapper .mfl-wearediff-box-item {
    width: 100% !important;
    padding: 10px 15px;
  }
  .mfl-Features-section .mfl-wearediff-box-wrapper .mfl-wearediff-box-item .mfl-wearediff-box-inner {
    box-shadow: 7px 1px 27px 0px rgba(108, 108, 108, 0.2);
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
    .mfl-wearediff-box-lines .box-line.hover,
    .mfl-wearediff-icon-wrap .mfl-wearediff-icon.hover {
      opacity: 1 !important;
    }
  }
}
