.lh-24 {
  line-height: 24px;
}
.lh-26 {
  line-height: 26px;
}
.lh-28 {
  line-height: 28px;
}
.lh-30 {
  line-height: 30px;
}

.font-light {
  font-weight: $font-weight-light !important;
}
.font-normal {
  font-weight: $font-weight-regular !important;
}
.font-semibold {
  font-weight: $font-weight-semibold !important;
}
.font-bold {
  font-weight: $font-weight-bold !important;
}
