:root {
  --color-primary-dark: #003a7f;
  --color-blue-dark: #152537;
  --color-white: #fff;
  --color-secondary: #444444;
  --color-primary: #2b95f9;
  --color-primary-light: #94e5fc;

  --color-red: #e62727;

  --color-light-blue: #0d93ca;
  --color-blue: #105cb8;
  --color-violet: #645eb8;

  --color-feture-bg: #5496d9;
  --color-feture-border: #37cfdc;

  --color-circle-blue: #7cd0f3;
  --color-circle-green: #c4f2bb;
  --color-circle-icon: #5694d0;

  --color-green: #4cb9aa;
  --color-success: #4bb543;

  --color-border: #d0d0d0;

  --color-facebook: #3b5998;
  --color-twitter: #00aced;
  --color-linkedin: #007bb6;
  --color-instagram: #c13584;
  --color-Youtube: #bb0000;
  --color-googleplus: #dd4b39;
  --color-whatsapp: #34bf49;
  --color-pinterest: #cb2027;
}
